/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}



.m-animate{
	position: relative;
	width: 600px;
	height: 600px;
	margin: auto;
	overflow: hidden;
	background-color: #FFF;
}
.m-animate > ._3d-plant{
	position: absolute;
	z-index: 99;
	top:50%;
	left: 50%;
	-webkit-perspective:800px;
	
}
.m-animate > ._3d-plant > .cube{
	-webkit-transform-style:preserve-3d;	
}
.m-animate > ._3d-plant > .cube > div {
	position: absolute;	
	width: 198px;
	height: 198px;
	border: 1px solid #00f;
	-webkit-transform:translate(-50%,-50%);
	line-height: 198px;
	text-align: center;
	font-size: 30px;
	color: #00f;
	transition:1s;
}
.m-animate > ._3d-plant > .cube:hover > .top{
	background-color: #f00;
	border-color: #f00;
}
.m-animate > ._3d-plant > .cube:hover > .bottom{
	background-color: #2c0;
	border-color: #2c0
}
.m-animate > ._3d-plant > .cube:hover > .left{
	background-color: #d3a;
	border-color: #d3a
}
.m-animate > ._3d-plant > .cube:hover > .right{
	background-color: #0fc;
	border-color: #0fc
}
.m-animate > ._3d-plant > .cube:hover > .font{
	background-color: #0bd;
	border-color: #0bd
}
.m-animate > ._3d-plant > .cube:hover > .back{
	background-color: #ad4;
	border-color: #ad4;
}

.m-animate > ._3d-plant > .cube > .left{
	-webkit-animation:left-start 2s both;
}
@-webkit-keyframes left-start{
	from{-webkit-transform-origin:0 50%;
		-webkit-transform:translate3d(-50%,-50%,0px) rotateY(0deg);}
	
	to{
		-webkit-transform-origin:0 50%;
		-webkit-transform:translate(-50%,-50%) rotateY(-90deg);
	}
}

.m-animate > ._3d-plant > .cube > .right{
	-webkit-animation:right-start 2s 2s both;
}
@-webkit-keyframes right-start{
	from{-webkit-transform-origin:100% 50%;
		-webkit-transform:translate3d(-50%,-50%,0px) rotateY(0deg);}
	
	to{
		-webkit-transform-origin:100% 50%;
		-webkit-transform:translate(-50%,-50%) rotateY(90deg);
	}
}

.m-animate > ._3d-plant > .cube > .back{
	-webkit-animation:back-start 2s 4s both;
}
@-webkit-keyframes back-start{
	from{-webkit-transform-origin:50% 0%;
		-webkit-transform:translate3d(-50%,-50%,0px) rotateX(0deg);}
	
	to{
		-webkit-transform-origin:50% 0%;
		-webkit-transform:translate(-50%,-50%) rotateX(90deg);
	}
}

.m-animate > ._3d-plant > .cube > .font{
	-webkit-animation:font-start 2s 6s both;
}
@-webkit-keyframes font-start{
	from{-webkit-transform-origin:50% 100%;
		-webkit-transform:translate3d(-50%,-50%,0px) rotateX(0deg);}
	
	to{
		-webkit-transform-origin:50% 100%;
		-webkit-transform:translate(-50%,-50%) rotateX(-90deg);
	}
}

.m-animate > ._3d-plant > .cube > .bottom{
	-webkit-animation:bottom-start 2s 8s both;
}
@-webkit-keyframes bottom-start{
	from{
		-webkit-transform:translate3d(-50%,-50%,0px) rotateX(0deg);}
	
	to{
		
		-webkit-transform:translate(-50%,-50%) rotateX(180deg);
	}
}

.m-animate > ._3d-plant > .cube > .top{
	 
	-webkit-animation:top-start 2s 10s both;
}

@-webkit-keyframes top-start{
	from {-webkit-transform:translate3d(-50%,-50%,0px);}
	to {-webkit-transform:translate3d(-50%,-50%,200px);}
}

.m-animate > ._3d-plant > .cube{
	
	-webkit-animation:xuanzhuan 1s linear 12s  both,xuan-zhuan 4s linear 13s infinite;
}

@-webkit-keyframes xuanzhuan{

	from{-webkit-transform-origin:50% 100% 100px;
		-webkit-transform:rotateX(0deg);
	}	
	to{
		-webkit-transform-origin:50% 100% 100px;
		-webkit-transform:rotateX(45deg) rotateY(45deg);
	}
}

@-webkit-keyframes xuan-zhuan{
	from{
		-webkit-transform-origin:50% 100% 100px;
		-webkit-transform:rotateX(45deg) rotateY(45deg) rotate3d(1,1,1,0deg);
	}
	to{
		-webkit-transform-origin:50% 100% 100px;
		-webkit-transform:rotateX(45deg) rotateY(45deg) rotate3d(1,1,1,360deg);
	
	}
}
.m-animate > .circle {
	position: relative;
	width: 600px;
	height: 600px;
	z-index: 9;
}
.m-animate > .circle > .u-circle{
	position: absolute;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	top:0;
	left: 50%;
	border-radius: 50%;
	background-color: #f00;
	-webkit-transform-origin:50% 300px;

}
.m-animate > .circle > .u-circle-1{
	background-clip:content-box;
	-webkit-transform:rotate(0deg);
	-webkit-animation:circle-r 1.8s linear 12s infinite;
}
.m-animate > .circle > .u-circle-2{

	background-clip:content-box;
	-webkit-animation:circle-r 1.8s linear 12.15s infinite,circle-2 1s linear both;
}

@-webkit-keyframes circle-2{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(30deg)}
}


.m-animate > .circle > .u-circle-3{

	background-clip:content-box;
	-webkit-animation:circle-r 1.8s linear 12.3s infinite,circle-3 2s linear both;
}
@-webkit-keyframes circle-3{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(60deg)}
}


.m-animate > .circle > .u-circle-4{

	background-clip:content-box;
	-webkit-transform:rotate(90deg);
	-webkit-animation:circle-r 1.8s linear 12.45s infinite,circle-4 3s linear both;
}
@-webkit-keyframes circle-4{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(90deg)}
}


.m-animate > .circle > .u-circle-5{

	background-clip:content-box;
	-webkit-animation:circle-r 1.8s linear 12.6s infinite,circle-5 4s linear both;
}
@-webkit-keyframes circle-5{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(120deg)}
}


.m-animate > .circle > .u-circle-6{

	background-clip:content-box;
	-webkit-transform:rotate(150deg);
	-webkit-animation:circle-r 1.8s linear 12.75s infinite,circle-6 5s linear both;
}
@-webkit-keyframes circle-6{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(150deg)}
}


.m-animate > .circle > .u-circle-7{

	background-clip:content-box;
	-webkit-animation:circle-r 1.8s linear 12.9s infinite,circle-7 6s linear both;
}
@-webkit-keyframes circle-7{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(180deg)}
}


.m-animate > .circle > .u-circle-8{

	background-clip:content-box;
	-webkit-animation:circle-r 1.8s linear 13.05s infinite,circle-8 7s linear both;
}
@-webkit-keyframes circle-8{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(210deg)}
}



.m-animate > .circle > .u-circle-9{

	background-clip:content-box;
	-webkit-transform:rotate(240deg);
	-webkit-animation:circle-r 1.8s linear 13.2s infinite,circle-9 8s linear both;
}
@-webkit-keyframes circle-9{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(240deg)}
}



.m-animate > .circle > .u-circle-10{

	background-clip:content-box;
	-webkit-transform:rotate(270deg);
	-webkit-animation:circle-r 1.8s linear 13.35s infinite,circle-10 9s linear both;
}
@-webkit-keyframes circle-10{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(270deg)}
}



.m-animate > .circle > .u-circle-11{

	background-clip:content-box;
	-webkit-transform:rotate(300deg);
	-webkit-animation:circle-r 1.8s linear 13.5s infinite,circle-11 10s linear both;
}
@-webkit-keyframes circle-11{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(300deg)}
}


.m-animate > .circle > .u-circle-12{

	background-clip:content-box;
	-webkit-transform:rotate(330deg);
	-webkit-animation:circle-r 1.8s linear 13.65s infinite,circle-12 11s linear both;
}
@-webkit-keyframes circle-12{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(330deg)}
}


@-webkit-keyframes circle-r{
	from,40%,to{
		width: 50px;
		height: 50px;
		border: 0 solid transparent;
	}
	20%{
		width: 10px;
		height: 10px;
		border: 20px solid transparent;
	}

}

.m-animate > .border > .u-border{
	position: absolute;
	top:0;
	left: 0px;
	width: 600px;
	height: 2px;
	overflow: hidden;
}
.m-animate > .border > .u-border > div{
	position: absolute;
	top:0;
	left: -150px;
	width: 150px;
	height: 2px;
	background-image: linear-gradient(to right,rgba(0,0,0,0),#000);
	
}
.m-animate > .border > .u-border > .f-border{
	-webkit-animation:f-border 2s linear infinite;
}
.m-animate > .border > .u-border > .f-border-1{
	-webkit-animation:f-border 2s linear 1s infinite;
}
.m-animate > .border > .u-border-1{

}
.m-animate > .border > .u-border-2{
	-webkit-transform-origin:0 0;
	-webkit-transform:rotate(90deg) translate(0,-600px);
}
.m-animate > .border > .u-border-3{
	-webkit-transform-origin:0 0;
	-webkit-transform:rotate(180deg) translate(-600px,-600px);
}
.m-animate > .border > .u-border-4{
	-webkit-transform-origin:0 0;
	-webkit-transform:rotate(270deg) translate(-600px,0px)
}

@-webkit-keyframes f-border{
	form{
		left: -150px;
	}
	50%{
		left:450px;
	}
	to{
		left:1050px;
	}

}

.m-animate .ring{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-animation:ring 1.8s linear 12s infinite;
}
@-webkit-keyframes ring{
	from{
		-webkit-transform:rotate(0deg);
	}
	to{
		-webkit-transform:rotate(360deg);
	}
}

.m-animate .ring .ring-1{
	position: absolute;
	width: 450px;
	height: 450px;
	border-radius: 50%;

	-webkit-transform:translate(-50%,-50%) rotate(45deg);
	background-image: radial-gradient(circle 225px at 0 0,#f00,rgba(255,0,0,0))	;

}

.m-animate .ring .ring-1::after{
	content: "";
	display: block;
	position: absolute;
	top:0;
	left: 0;
	-webkit-transform:rotate(-45deg) translate(200px,-60px);
	width: 225px;
	height: 450px;
	background-color: #fff;
}
.m-animate .ring .ring-1::before{
	content: "";
	display: block;
	position: absolute;
	top:0;
	left: 0;
	z-index: 1;
	-webkit-transform:rotate(-45deg) translate(0px,-60px);
	width: 225px;
	height: 450px;
	background-color: #fff;
	-webkit-animation:ring-before 0.5s 12s both;
}
@-webkit-keyframes ring-before{
	from{
		width: 225px;
	}
	to{
		width: 0;
	}
}
.m-animate .ring .ring-2{
	margin: 2px 0 0 2px;
	width: 446px;
	height: 446px;
	background: #fff;
	border-radius: 50%;

}

